/*
* @Author: Hoang Nguyen
* @Date:   2018-10-06 16:27:31
* @Last Modified by:   Hoang Nguyen
* @Last Modified time: 2018-10-09 00:24:25
*/

.fix-height-nav{
	height: 42px;
}

a:hover{
	text-decoration: none !important;
}

.logo{
	width: 30px;
	height: 24px;
}

.icon-menu{
	width: auto;
	height: 10px;
}

.tab-outlight-menu{
	max-width: 200px;
	border-radius: 2px 0 0 2px;
	border: 1px solid #d4892e;
}

.link-outlight-active{
	background-color: #d4892e;
}

.box-outlight{
	width: 90px;
	height: 100%;
}

.text-orange {
	color: #d4892e !important;
}

.bg-orange {
	background-color: #d4892e !important;
}

.box-menu-total{
	width: 85%;
}

.sub-menu{
	height: 40px;
	font-size: 12.5px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12)!important;
	border-color: #ddd;
	background-color: #f6f6f6;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.menu-content{
	line-height: 40px;
}

.break-down-item{
	position: absolute;
	top: 65%;
	left: 50%;
	color: #ccc;
}

.menu-border-left{
	border-left: 1px solid;
    border-color: #ddd;
}

.menu-border-right{
	border-right: 1px solid;
    border-color: #ddd;
}

.menu-sub-item:hover{
	background-color: #ededed;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
}

.menu-drop{
	height: 42px;
}

.fixed-sub-top {
  position: fixed;
  top: 42px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-drop-top {
  position: fixed;
  top: 82px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.normal{
	margin-top: 84px;
}

.scroll-list-group{
    display:inherit!important;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -ms-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
    overflow-scrolling:touch;
    width:100%;
    height:auto;
    max-height:87%;
    margin:0;
    border-left:none;
    border-right:none;
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    -ms-border-radius:0!important;
    -o-border-radius:0!important;
    border-radius:0!important;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none
}

.sidebar{
	height: 100%;
    width: 0%;
    position: fixed;
    z-index: 12345;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-tab-close{
	position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background: #d4892e;
    color: #fff;
    margin-left: 0;
    z-index: 1000;
}

.custom-sidebar{
	padding-left: 120px;
	top: 0;
	position: absolute;
}

.custom-sidebar a:hover{
	color: #d4892e !important;
	font-weight: bold;
}

.icon-close-sidebar{
	cursor: pointer;
}

.has-error input{
    border-color: #dc3545;
}

.has-error label{
    color: #dc3545;
}

.has-error > .input-group > .input-group-prepend > .input-group-text{
    border-color: #dc3545;
}

.has-success input{
    border-color: #28a745;
}

.has-success label{
    color: #28a745;
}

.has-success > .input-group > .input-group-prepend > .input-group-text{
    border-color: #28a745;
}

.toast-top-center {
    top: 82px !important;
}

.sidebar-right{
    width: 50px;
    position: fixed;
    top: 250px;
    right: -45px;
    z-index: 99999;
}

.sidebar-box{
    background: rgba(212, 137, 46, 0.3);
    opacity: 1;
    width: 50px;
    transition: all 0.3s;
    top: 0;
    right: 0;
    text-align: left;
    -webkit-transform: translate(-100%,-100%);
}

.sidebar-box a{
    line-height: 50px;
    top: 0;
    padding-left: 50px;
}

.list-group-item > img{
    width: 35px;
    float: left;
    padding: 5px;
    border: 3px solid #000;
    border-radius: 50%;
    background-color: #000;
}

.list-group-item > span{
    line-height: 35px;
}

.store-point{
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    display: block;
    font-weight: 400;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background-color: forestgreen;
    color: #fff!important;
    font-weight: bold;
}

.totalcomment-title, .total-count{
    color: #898989!important;
    font-size: 11px;
}

.inactive-shop-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}